.corpo{
    background-color: rgb(124, 85, 85) ;
    }
.container_nav {
    display: absolute;
    width: 100%;
    height: 100%;
}
.header-menu{
    background-image: url(imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem -15,625rem;
    color: white;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
}
.logo{ 
    width: 5rem;
    text-align: center;
}
#menuToggle {
    display: none;
}
.pesquisa{
    text-align: center;
}